form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: 1px solid #ccc;
  margin-top: 2rem;

  h1 {
    text-align: center;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  mat-form-field {
    margin-top: 15px;
    width: 100%;
  }

  .error-msg {
    color: red;
    margin: 10px 0;
    text-align: center;
    display: block;
  }

  button {
    display: block;
    width: 100%;
  }
}
