<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Sign In</h1>
  <div class="btn-container">
    <a mat-raised-button routerLink="/register">New user?</a>
  </div>
  <!-- email control -->
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="Ex. pat@example.com"
    />
    @if (emailFormControl.hasError('email')) {
    <mat-error>Please enter a valid email address</mat-error>
    } @if (emailFormControl.hasError('required')) {
    <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <!-- password control -->
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      [formControl]="passwordFormControl"
      placeholder="********"
    />
    @if (passwordFormControl.hasError('required')) {
    <mat-error>Password is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <!-- error message -->
  @if (errorMessage()) {
  <small class="error-msg">{{ errorMessage() }}</small>
  }
  <!-- submit button -->
  <button mat-raised-button type="submit">Login</button>
</form>
