<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/" (click)="drawer.close()">Kanban</a>
      <a mat-list-item href="/" (click)="drawer.close()">SSR</a>
      <a mat-list-item href="/" (click)="drawer.close()">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Firestarter</span>
      @if ((isHandset$ | async) === false) {
      <div class="nav-links">
        <a [routerLink]="['/kanban']">Kanban</a>
        <a [routerLink]="['/ssr']">SSR</a>
        <a [routerLink]="['/login']">Login</a>
      </div>
      }
    </mat-toolbar>
    <ng-content #content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
