.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 0.6rem;
  margin-left: auto;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
  }
}

.app-name {
  text-decoration: none;
  color: black;
}
