<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/" (click)="drawer.close()">Kanban</a>
      <a mat-list-item href="/" (click)="drawer.close()">SSR</a>
      <a mat-list-item href="/" (click)="drawer.close()">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <a routerLink="/" class="app-name">Firestarter</a>
      @if ((isHandset$ | async) === false) {
      <div class="nav-links">
        <a mat-button [routerLink]="['/kanban']">Kanban</a>
        <a mat-button [routerLink]="['/ssr']">SSR</a>

        @if (user$ | async) {
        <a mat-button (click)="logout()">Logout</a>
        } @else {
        <a [routerLink]="['/login']">Login</a>
        }
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
      }
    </mat-toolbar>
    <ng-content #content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
